body {
	background: #D8C7D8;
}

#game {
	width: 400px;
	height: 400px;
	background-color: #00BB88;
}

#textDisplay, #gameBoard {
	float: left;
}

#textDisplay {
	width: 350px;
	background-color: #B28FB2;
	margin-left: 50px;
	padding: 5px;
	border: solid black 2px; 
}


#moveMessage {
	width: 250px;
}

#debugMessage {
	width: 250px;
}
#frame {
	width:200px;
	height:200px;
	
}
